/*Left Featured Image Thumbnail*/
@media only screen and ( min-width: 800px ) {
    .bbb_blog_list a img  {
        float: left;
        width: 40%;
        padding-right: 20px;
        padding-bottom: 30px;
    }
    }
    /*Style Your Blog Post Title*/
    .et_pb_post h1 a, .entry-title {
        font-size: 30px;
        color: #000000;
        font-weight: bold;
        line-height: 1.3em;
    }
    
    /*Style Your Post Meta Text*/
    .post-meta {
        color: #000000;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    
    .post-meta a {
        color: #000000;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    
    
    /*Style Read More Button on Blog*/
    .bbb_blog_list a.more-link {
        display: inline-block;
        background: #000000;
        font-weight: bold;
        color: #ffffff;
        width: 150px;
        padding: 5px 10px;
        text-align: center;
        margin: 20px auto;
        text-transform: uppercase;
        letter-spacing: 1px;
        border: solid 2px #000000;
    }
    
    /*Read More Button Hover Style*/
    .bbb_blog_list a.more-link:hover {
        background: #f9f9f9;
        border: solid 2px #000000;
        color: #000000;
    }
    
    
    /*Remove Sidebar Divider*/
    #main-content .container:before {
        background-color: transparent;
    }
    
    /*Style Sidebar Widget Title*/
    h4.widgettitle {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 1px;